*{
    margin: 0px;
    padding: 0px;
    font-family: "Fira Sans", sans-serif;
}
.header{
    background-color: #229928;
}
.container{
    max-width: 90%;
    display: flex;
    margin: 0 auto;
}
.container img{
    width: 250px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 70px;
}
.main-menu{
    display: flex;
    position: relative;
    margin-left: 10px;
}
.main-menu li{
    list-style: none;
    padding: 30px 20px;
}
.main-menu li:hover{
    text-decoration: underline 5px;
}
.main-menu li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.main-menu ul.sub-menu{
    position: absolute;
    background-color: #229928;
    margin-top: 35px;
    border: 1px solid rgba(255,255,255,.2);
    display: none;
}
.main-menu li:hover ul.sub-menu{
    display: block;
}
.main-menu ul.sub-menu li{
    padding: 25px 20px;
    border-bottom: 1px solid rgba(255,255,255,.2);
}
.main-menu ul.sub-menu li:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #26812b;
}
.main-menu ul.sub-menu li a{
    font-size: 15px;
}
.slide img{
    width: 100%;
}
.landing-box{
    display: flex;
    width: 60%;
    margin: 0 auto;
    position: relative;
    bottom: 100px;
    border-bottom: 5px solid #26812b;
    padding-bottom: 100px;
}
.landing-box .noidung1, .noidung2{
    background-color: #e8790b;
}
.landing-box .noidung1{
    background-image: linear-gradient(306deg,#009fd9,#0066b2);
    height: 300px;
    width: 500px;
    padding: 50px 50px;
    line-height: 40px;
}
.landing-box .noidung1 h1{
    border-bottom: 1px solid yellow;
}
.landing-box .noidung1 p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.landing-box .noidung2{
    background-image: linear-gradient(56deg,#df630f,#f7803b 58%,#ed943f);
    width: 500px;
    padding: 50px 50px;
    line-height: 50px;
}
.landing-box .noidung2 p{
    color: white;
    font-size: 35px;
}
.landing-box .noidung3{
    background-color: #49a508;
    width: 500px;
    padding: 50px 50px;
    line-height: 50px;
}
.landing-box .noidung3 h1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.slide2 img{
    width: 100%;
}
article h1{
    text-align: center;
    margin: 30px 0px;
}
.content{
    display: block;
    margin-left: 200px;
}
.landing-content{
    padding: 30px 30px;
    float: left;
}
.landing-content img{
    width: 500px;
    display: block;
}
.landing-content p a{
    text-decoration: none;
    color: #121212;
}
.landing-content p{
    width: 500px;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    font-weight: bold;
    background: rgba(56,142,60,.15);
    height: 100px;
    padding: 20px 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.form{
    background-image: url(../image/slide6trangchu.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 800px;
    display: flex;
    padding: 50px 250px;
}
.form-1 h1{
    width: 400px;
    font-size: 30px; 
    color: white;
    margin-top: 100px;
    padding-right: 100px;
    line-height: 50px;
}
.form-2{
    background: rgba(56,142,60,.8);
    padding: 0px 20px;
    border-radius: 10px;
    height: 750px;
}
.form-2 h2{
    padding-bottom: 50px;
    color: white;
    text-align: center;
    padding-top: 20px
}
.form-2 input{
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 3px black;
}
.block1, .block2, .block3, .block4,.block5, .block6{
    padding-bottom: 50px;
}
.block1 input{
    width: 500px;
    height: 40px;
}
.block2 input{
    width: 240px;
    height: 40px;
    padding-right: 8px;
}
.block3 input{
    width: 240px;
    height: 40px;
    padding-right: 8px;
}
.block4 label{
    color: white;
}
.block5 textarea{
    border-radius: 7px;
    width: 500px;
    height: 100px;
}
.block6 input{
    width: 100px;
    height: 40px;
    font-weight: bold;
    color: #229928;
}
.footer-all{
    margin: 20px 100px;
    display: flex;
    padding: 70px 0px;
}
.footer-left .text-left{
    width: 450px;
    font-size: 14px;
    line-height: 19px;
    font-family:'Open Sans';
}
.right{
    padding-bottom: 20px;
}
.right .tieude{
    font-weight: bold;
    padding-bottom: 20px;
}
.right .tieude i{
    color: #359c3a;
    padding-right: 10px;
}


